In [2]:
import re
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import string
import nltk
import warnings 
from textblob import TextBlob
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [3]:
train  = pd.read_csv('sorted.csv')

In [4]:
# remove url
def remove_urls(vTEXT):
    vTEXT = re.sub(r'(https|http)?:\/\/(\w|\.|\/|\?|\=|\&|\%)*\b', '', vTEXT, flags=re.MULTILINE)
    return(vTEXT)

train.content = train.content.apply(remove_urls)

In [5]:
# remove non-en language
train = train[~train['content'].str.contains(r'[^\x00-\x7F]+')]
train.head()

,datetime,content
0,2020-01-21 09:16:11+00:00,Shares in Chinese drug makers have risen sharp...
3,2020-01-21 12:46:37+00:00,"#Singapore levels up in #innovation rankings, ..."
4,2020-01-21 13:05:38+00:00,Paul Tudor Jones is very concerned about the #...
6,2020-01-21 14:19:27+00:00,Paul Tudor Jones says this stock market run re...
7,2020-01-21 14:33:46+00:00,#PageOne: Stock market afflicted by a virus #...

In [6]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)
    return input_txt

In [7]:
# remove twitter handles (@user)
train['tidy_tweet'] = np.vectorize(remove_pattern)(train['content'], "@[\w]*")

In [8]:
# remove special characters, numbers, punctuations
train['tidy_tweet'] = train['tidy_tweet'].str.replace("[^a-zA-Z#]", " ")

In [9]:
# romove short words
train['tidy_tweet'] = train['tidy_tweet'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))

In [10]:
# take a look
train.head()

,datetime,content,tidy_tweet
0,2020-01-21 09:16:11+00:00,Shares in Chinese drug makers have risen sharp...,Shares Chinese drug makers have risen sharply ...
3,2020-01-21 12:46:37+00:00,"#Singapore levels up in #innovation rankings, ...",#Singapore levels #innovation rankings just Am...
4,2020-01-21 13:05:38+00:00,Paul Tudor Jones is very concerned about the #...,Paul Tudor Jones very concerned about #coronav...
6,2020-01-21 14:19:27+00:00,Paul Tudor Jones says this stock market run re...,Paul Tudor Jones says this stock market remind...
7,2020-01-21 14:33:46+00:00,#PageOne: Stock market afflicted by a virus #...,#PageOne Stock market afflicted virus #coronav...

In [11]:
text = train.tidy_tweet.iloc[0]

In [12]:
s = TextBlob(text)
print(s)
print(s.sentiment)

Shares Chinese drug makers have risen sharply concerns grow over #coronavirus spreading across country Several pharmaceutical giants Shanghai Shenzhen stock exchanges have risen their daily limit
Sentiment(polarity=-0.03125, subjectivity=0.1875)

In [13]:
def get_polarity(text):
    s = TextBlob(text)
    return s.sentiment.polarity

In [14]:
def get_subjectivity(text):
    s = TextBlob(text)
    return s.sentiment.subjectivity

In [15]:
train["polarity"] = train.tidy_tweet.apply(get_polarity)
train["subjectivity"] = train.tidy_tweet.apply(get_subjectivity)
train.head()

,datetime,content,tidy_tweet,polarity,subjectivity
0,2020-01-21 09:16:11+00:00,Shares in Chinese drug makers have risen sharp...,Shares Chinese drug makers have risen sharply ...,-0.03125,0.1875
3,2020-01-21 12:46:37+00:00,"#Singapore levels up in #innovation rankings, ...",#Singapore levels #innovation rankings just Am...,0.20000,0.2000
4,2020-01-21 13:05:38+00:00,Paul Tudor Jones is very concerned about the #...,Paul Tudor Jones very concerned about #coronav...,0.10000,0.6500
6,2020-01-21 14:19:27+00:00,Paul Tudor Jones says this stock market run re...,Paul Tudor Jones says this stock market remind...,0.10000,0.3000
7,2020-01-21 14:33:46+00:00,#PageOne: Stock market afflicted by a virus #...,#PageOne Stock market afflicted virus #coronav...,0.00000,0.0000

In [16]:
def get_date(text):
    s = text[0:10]
    return s

In [17]:
train["date"] = train.datetime.apply(get_date)
train.head()

,datetime,content,tidy_tweet,polarity,subjectivity,date
0,2020-01-21 09:16:11+00:00,Shares in Chinese drug makers have risen sharp...,Shares Chinese drug makers have risen sharply ...,-0.03125,0.1875,2020-01-21
3,2020-01-21 12:46:37+00:00,"#Singapore levels up in #innovation rankings, ...",#Singapore levels #innovation rankings just Am...,0.20000,0.2000,2020-01-21
4,2020-01-21 13:05:38+00:00,Paul Tudor Jones is very concerned about the #...,Paul Tudor Jones very concerned about #coronav...,0.10000,0.6500,2020-01-21
6,2020-01-21 14:19:27+00:00,Paul Tudor Jones says this stock market run re...,Paul Tudor Jones says this stock market remind...,0.10000,0.3000,2020-01-21
7,2020-01-21 14:33:46+00:00,#PageOne: Stock market afflicted by a virus #...,#PageOne Stock market afflicted virus #coronav...,0.00000,0.0000,2020-01-21

In [18]:
df=train.groupby("date").mean().rename(columns={"polarity":"polarity_mean","subjectivity":"subjectivity_mean"})
df

            polarity_mean  subjectivity_mean
date
2020-01-21       0.057674           0.312639
2020-01-22       0.071875           0.298333
2020-01-23       0.015898           0.188463
2020-01-24       0.030325           0.296682
2020-01-25       0.019724           0.263192
2020-01-26       0.034738           0.306089
2020-01-27       0.057310           0.329718
2020-01-28       0.051276           0.338168
2020-01-29       0.039522           0.310778
2020-01-30       0.047264           0.304670
2020-01-31       0.054555           0.305018
2020-02-01       0.001291           0.337104
2020-02-02       0.042335           0.255580
2020-02-03       0.015529           0.289209
2020-02-04       0.106769           0.316363
2020-02-05       0.031463           0.175728
2020-02-06       0.081861           0.362505
2020-02-07       0.061439           0.322025
2020-02-08       0.003071           0.324086
2020-02-09       0.144623           0.436514
2020-02-10       0.099340           0.321952
2020-02-11       0.021437           0.292464
2020-02-12       0.117958           0.346326
2020-02-13       0.088151           0.317720
2020-02-14       0.077073           0.270980
2020-02-15       0.094433           0.363305
2020-02-16       0.097721           0.324608
2020-02-17       0.071829           0.377194
2020-02-18       0.065084           0.344217
2020-02-19       0.078063           0.321464
2020-02-20       0.034228           0.362976
2020-02-21       0.093501           0.315606
2020-02-22       0.028620           0.360517
2020-02-23       0.025684           0.371574
2020-02-24       0.049202           0.321291
2020-02-25       0.037496           0.331466
2020-02-26       0.029333           0.326609
2020-02-27       0.043242           0.357608
2020-02-28       0.028903           0.373702
2020-02-29       0.033446           0.369386
2020-03-01       0.082002           0.336767
2020-03-02       0.110144           0.378430
2020-03-03       0.120651           0.396437
2020-03-04       0.123447           0.404589
2020-03-05       0.074075           0.378514
2020-03-06       0.057402           0.306455
2020-03-07       0.052066           0.330839
2020-03-08       0.030201           0.336504
2020-03-09       0.037829           0.354405
2020-03-10       0.047498           0.339169
2020-03-11       0.058590           0.350668
2020-03-17       0.267700           0.391406
2020-03-18       0.078671           0.338063
2020-03-19       0.070235           0.324764
2020-03-20       0.044925           0.320144
2020-03-21       0.108595           0.375811
2020-03-22       0.035007           0.322396
2020-03-23       0.039148           0.318065
2020-03-24       0.069953           0.361270
2020-03-25       0.073032           0.360566

In [19]:
df.to_csv("data.csv")

In [20]:
pip install theano

Requirement already satisfied: theano in ./opt/anaconda3/lib/python3.7/site-packages (1.0.4)
Requirement already satisfied: scipy>=0.14 in ./opt/anaconda3/lib/python3.7/site-packages (from theano) (1.3.1)
Requirement already satisfied: six>=1.9.0 in ./opt/anaconda3/lib/python3.7/site-packages (from theano) (1.12.0)
Requirement already satisfied: numpy>=1.9.1 in ./opt/anaconda3/lib/python3.7/site-packages (from theano) (1.17.2)
Note: you may need to restart the kernel to use updated packages.

In [21]:
import pandas as pd
predict = pd.read_csv('data_sentiment.csv')

In [22]:
predict["date"] = predict.datetime.apply(get_date)
predict.head()

,Unnamed: 0,datetime,content,sentiment,date
0,0,2020-01-21 09:16:11+00:00,Shares in Chinese drug makers have risen sharp...,0,2020-01-21
1,1,2020-01-21 10:47:38+00:00,Wuhan’s viral outbreak knocks the stock market...,4,2020-01-21
2,2,2020-01-21 10:52:56+00:00,J'ai vu le film Contagion donc pour éradiquer ...,4,2020-01-21
3,3,2020-01-21 12:46:37+00:00,"#Singapore levels up in #innovation rankings, ...",4,2020-01-21
4,4,2020-01-21 13:05:38+00:00,Paul Tudor Jones is very concerned about the #...,4,2020-01-21

In [23]:
x=predict.groupby("date").mean().rename(columns={"sentiment":"sentiment_mean"})
x

            Unnamed: 0  sentiment_mean
date
2020-01-21        13.5        2.571429
2020-01-22        45.5        1.444444
2020-01-23        96.5        2.060606
2020-01-24       155.5        1.846154
2020-01-25       218.5        1.783784
2020-01-26       314.5        1.627119
2020-01-27       495.0        2.057613
2020-01-28       729.5        1.663717
2020-01-29       928.5        1.372093
2020-01-30      1122.0        1.413953
2020-01-31      1334.5        1.580952
2020-02-01      1483.5        1.545455
2020-02-02      1604.0        1.150327
2020-02-03      1822.5        1.422535
2020-02-04      2040.0        1.668874
2020-02-05      2223.0        2.976744
2020-02-06      2398.5        1.794118
2020-02-07      2530.5        2.218750
2020-02-08      2637.0        1.364706
2020-02-09      2745.5        2.060606
2020-02-10      2886.5        1.920000
2020-02-11      3035.0        2.421769
2020-02-12      3139.5        1.935484
2020-02-13      3232.5        2.290323
2020-02-14      3335.5        2.292683
2020-02-15      3389.5        1.384615
2020-02-16      3415.0        1.280000
2020-02-17      3458.5        1.483871
2020-02-18      3544.0        1.944954
2020-02-19      3640.5        1.952381
2020-02-20      3717.5        1.942857
2020-02-21      3806.0        2.280374
2020-02-22      3905.0        1.890110
2020-02-23      4035.0        1.704142
2020-02-24      4465.5        1.861272
2020-02-25      5277.0        2.027927
2020-02-26      6166.0        1.742621
2020-02-27      7281.5        1.768786
2020-02-28      8801.5        1.785024
2020-02-29     10042.0        1.391515
2020-03-01     10765.0        2.041868
2020-03-02     11698.0        2.608835
2020-03-03     12942.5        2.257235
2020-03-04     14085.5        2.625720
2020-03-05     14994.0        1.821935
2020-03-06     15862.0        1.806452
2020-03-07     16648.0        1.564648
2020-03-08     17273.0        1.577465
2020-03-09     18589.0        1.511290
2020-03-10     20162.5        1.642981
2020-03-11     21327.5        1.775510
2020-03-17     21925.0        2.315789
2020-03-18     22848.5        1.564551
2020-03-19     24496.5        1.904632
2020-03-20     26576.0        1.611297
2020-03-21     28461.0        2.135310
2020-03-22     29437.5        1.853547
2020-03-23     30516.5        1.704050
2020-03-24     31725.0        1.878199
2020-03-25     32728.0        1.910653

In [29]:
x=("she stocks all kinds of toys")
y=TextBlob(x).sentiment.polarity
y

0.0